<Footer class="footer">
<a class="footer_logo"href="/">
    <img src="images/aero.png" alt="">
    <p>AEROFLEET</p>
</a>

<div class="footer_links_col1">
    <a href="/">Home</a>
    <a href="/about">About</a>
</div>
<div class="footer_links_col2">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>
<div class="footer_cta ">
<a  href="https://www.sih.gov.in/" target="_blank" class="footer_button button">Smart India Hackathon</a>
 <div class="footer_text"></div>
</div>

</Footer>