<!--nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav-->
<header class="header">
    <div id="overlayid" class="fade"></div>
    <nav class="flex_nav container">
            <a href="#" class="logo">
                <img src="images/try image.png" class="logo" alt="logo">
            </a>
            <a id="btnHamburger" href="#" class="header_menu  hide-for-desk">
                <span ></span>
                <span ></span>
                <span ></span>
            </a>

            <div class="header_links  hide-for-mob">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            </div>
            
        </nav>
    <div class="header_mob fade">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</header>