<header class="header" data-aos="fade-down">
    <div id="overlayid" class="fade"></div>
    <nav class="flex_nav container">
            <a href="/" class="logo">
                <img src="images/aero.png" style="height: 50px;width:70px;" class="logo" alt="logo">
            </a>
            <a id="btnHamburger" href="#" class="header_menu  hide-for-desk">
                <span ></span>
                <span ></span>
                <span ></span>
            </a>

            <div class="header_links  hide-for-mob">
              <a href="/">Home</a>
              <a href="/about">About</a>
              <a href="/login">Login</a>
              <a href="/register">Register</a>
            </div>
            
        </nav>
    <div class="header_mob fade">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</header>