
<header class="header">
    <div id="overlayid" class="fade"></div>
    <nav class="flex_nav container">
            <a href="#" class="logo">
                <img src="images/try image.png" class="logo" alt="logo">
            </a>
            <a id="btnHamburger" href="#" class="header_menu  hide-for-desk">
                <span ></span>
                <span ></span>
                <span ></span>
            </a>

            <div class="header_links  hide-for-mob">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">{{userName}}</a>
            
            </div>
            
        </nav>
    <div class="header_mob fade">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">{{userName}}</a>
    </div>
</header>