@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
html{
    font-size: 100%;
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
/*BODY*/
body
{
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.3;
}
.noscroll
{
    overflow: hidden;
}
h1,h2,h3{
    margin-top: 0;
}
/*flex box */
.flex_nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 24px;
} 
nav{
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
    position: relative;
    background-color: #F1F1E6;
}
/*Header*/
    .logo{
       
    }
    .header_menu>span{
        display: block; 
        width:26px;
        height: 3px;
        background-color: black; 
        transition: all 300ms ease-in-out;
        transform-origin: 2px 1px;
        
    }
    .header_menu>span:not(:last-child){
        margin-bottom: 5px; 
    }
    /*Ham open style*/
    .open>span:first-child
        {
         transform: rotate(45deg);
        }
    .open>span:nth-child(2)
        {
            opacity: 0;
        }
    .open>span:last-child
        {
            transform: rotate(-45deg);
        }


    /*Overlay*/
    .overlay{
        /* position: fixed;
        right: 0px;
        left: 0px;
        bottom: 0px;
        top: 2.75rem;
        background: linear-gradient(blue, transparent); */
        position: fixed;
        background: #6D3E8D;
        height: 100vh;
        width: 100%;
        clip-path: circle(100px at 100% -1%);
        -webkit-clip-path:circle(100px at 100% -17%);
        transition: all 1s ease-out;
    }
    .overlay_open{
        clip-path: circle(100px at 100% -1%);
        -webkit-clip-path:circle(1310px at 100% -17%);
    }
    .overlay>a{
        color: aquamarine;
        padding: 0.625rem;
        display: block;
        text-align: center;
    }
     /* open style*/
     .header_mob
     {
         background: #6D3E8D;
         padding: 1.625rem;
         border-radius: 5px;
         margin-top: 1.5rem;
         position: absolute;
        width: 95%;
        left: 50%;
        transform: translate(-50%);
     }
     .header_mob>a{
        display: block;
        text-align: center;
         color: white;
         margin-bottom:70px;
         padding: 0.625rem;
     }
/*links*/
    .header_links>a
    {
        font-size: 1rem;
        color: #222;
        padding: .5rem 1rem;
        transition: color 200ms ease-in-out;
    }
    .header_links>a:hover{
        background: #3F4374;
        border-radius: 1.5rem;
        color: white;
    }
    a, a:visited
    {
        text-decoration: none;
    }
    .header_link> a:not(:last-child){
        margin-right: 32px;
    }
/*Button*/
.button{
    display: inline-block;
    padding: 0.875rem 1.875rem;
    border-radius: 50px;
    cursor: pointer;
    color: black;
    border: none;
    font-weight: 400;
}
.button:hover, a:hover{
    opacity: 0.75;
}
/*Container*/
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}
.container_all{
    padding: 1.5rem;
}
.container_text{
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}
/*Visibility*/
/*hide for mobile*/

@media (max-width: 63.9375em){
    .hide-for-mob{
        display:none;
    }
    
}
/*hide for Desk*/

    @media (min-width: 64em){
        .hide-for-desk{
            display:none;
    }
}
/*fade*/
.fade
{
    visibility: hidden;

}
/*hero*/
/* hero Mobile
.hero_text_mob{
    text-align: center;
}
.hero_img_mob>img{
    /* position: relative; 
    width: -webkit-fill-available;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
}
.hero_text_mob>h1
{
    font-weight: 300;
    font-size: 2.31rem;
    line-height: 1.15;
    color: darkblue;
    margin-bottom: 1.5rem;
} */
/* Hero dekstop */
.hero_desk{
    display: flex;
    align-items: center;
    height: 600px;
    background-color: #F8F8F8;
}
.hero_img_desk>img{
    /* position: relative; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
}
.hero_img_desk
{
    flex: 2 100%;
    order: 1;
    text-align: center;
}
.hero_text_desk{
    text-align: center;
    flex: 1 100%;
    order: 2;
}
.hero_text_desk>h1
{
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 24px;
    font-size: 3.25rem;
    line-height: 1.15;
    color: #18324e;
    text-shadow: 2px 2px gray;
    margin-bottom: 1.5rem;
}
.hero_text_desk>p
{
    font-size: 1.25rem;
    color: #3E4756;
    text-align: center;
}
/* features */
.features{
    background-color: #00708F;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
@media (min-width: 64em){
.feature_grid
{
    display: flex;
    flex-wrap: wrap;
}}
.feature_intro{
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    margin-bottom: 3.75rem;
}
.feature_intro_intro>h2{
    color: #F1FAFF;
    font-weight: 100;
    text-align: center;
    text-decoration: underline;
}
.feature_intro_intro>p{
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    text-align: justify;
}
@media screen and (max-width:800px) {
    .feature_intro{
        flex-direction: column;
    }
    .feature_intro_intro>p{
        font-size: 1rem;
    }
    .feature_watch{
        display: none;
    }
}

.feature_item
{
    flex: 1;
    border-radius: 50px;
    margin-bottom: 30px;
    margin-right: 30px;
    background: white;
    padding: 15px;
    box-shadow:  11px 11px 22px #005b74,
             -11px -11px 22px #0085aa;
}

.feature_icon
{
    margin-bottom: 2.75rem;
}
.feature_icon>img{
    height: 140px;
    width: 140px;
}
.feature_title
{
 font-size: 1.5rem;  
 margin-bottom: 1.5rem; 
}
.feature_desc
{
    font-size: 1rem;    
    text-align: justify;
    color: #405675;
    padding: .5rem;
}
/* test */
.test{
    background-color: #F8F8F8;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
@media (min-width: 64em){
.test_grid
{
    display: flex;
    flex-wrap: wrap;
}
.client
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
}

.test_intro{
    margin: auto;
    width: 70%;
    margin-bottom: 3.75rem;
}
.test_intro>h2{
    text-align: center;
}
.test_intro>p{
    text-align: justify;
    font-size: 1.2rem;
    color: #354A54;
}

.test_item
{
    flex: 1;
    box-shadow:  5px 5px 15px #e4e4e4,
             -5px -5px 15px #ffffff;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    background: white;
    padding: 15px;
}

.test_icon
{
    flex: 1 ;
    text-align: center;
    margin-bottom: 0;
}
.test_icon>img{
    height: 150px;
    width: 150px;
}
.test_name
{
    flex: 1 ;
    text-align: center;
    font-size: 1.25rem;  
}
.test_desc
{
    text-align: justify;
    padding: 1rem;
    font-size: 1rem;
    color: #98AFBA;
}
/* Animation */
@keyframes transitionIn{
    from {
        transform: translateY(+100px);
    }
    to {
        transform: translateY(0);
      }
}
.animate{
    animation: transitionIn 0.75s;
}
@keyframes fadding{
    from{
         opacity:0;
    }
    to{
        opacity:1;
    }
}
.fade_ani
{
    animation: fadding 2s;
}
/* Footer */
/* Footer icon */
.footer{
    background-color: #3F4374;
    padding: 2.5rem;
    text-align: center;
}
.footer_logo>p{
    color: #fff;
}
.footer_links_col1{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer_links_col2
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer_links_col1>a,.footer_links_col2>a {
    color: white;
    line-height: 2;
    padding: 0 1rem;
    border-radius: 1.5rem;
}
.footer_links_col1>a:hover,.footer_links_col2>a:hover{
    color: #18324e;
    background: #ffffed;
}
.footer_social{
    color: white;
    padding: 45px;
}
.footer_social>a:not:last-child
{
    display: inline-block;
}
.footer_social>a>img{
    
    margin-bottom: 1.85rem;
}
.footer_cta
{
    color: white;
}
.footer_button{
    background-color:whitesmoke ;
}
/* footer for desktop */
@media (min-width: 64em)
{
    .footer{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 3fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "footer_logo footer_links_col1 footer_links_col2 cta"
                            "footer_social footer_links_col1 footer_links_col2 cta";
        justify-items: start;
        gap: 1rem;
    }
    .footer_logo>img {
        
    }
    .footer_logo{
        grid-area: footer_logo;
    }
    .footer_links_col1
    {
        grid-area: footer_links_col1;
    }
    .footer_links_col2
    {
        grid-area: footer_links_col2;
    }
    .footer_cta
    {
        text-align: end;
        justify-self: center;
        grid-area: cta;
    }
    .footer_social
    {
        padding: 0;
        grid-area: footer_social;
    }
    .footer_social>a>img{
        margin-right:10px ;
        margin-bottom: 0px
    };
}








