<!doctype html>
<html>
	<head>
        {{>headers}}
		<title>About Us</title>
		<link rel="stylesheet" type="text/css" href="/about.css"/>	
	</head>
    
    <body>
        {{>navbar}}
    	<div class="about-section">
    		<div class="about-heading">
               <h1>About Us</h1>
            </div>
            <div class="about-para">
           <p class="about-para-1"> Team AEROFLEET</p>
           <p>Aerofleet is a smart system which tackle the problem faced by drivers exposed to highly polluted area by monitoring their health parameters through our smart watch Aeroband and purifying the cabin using Aeropure which works on three mode and saves power. Real time data is available to fleet manager also the data is analyzed to aid fleet manager in future decision making. Mic and Speaker are installed in the system for direct voice communication with fleet manager in case of emergency.</p></div>
        </div>

        <h2>Our Team</h2>

        <div class="row">
           <div class="column">
               <div class="card">
                   <div class="card-img">

                   <img src="/images/uttu.png">
                   </div>
                       <div class="container">
                           <h2>Utkarsh</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           
                           <div class="about_container_links">
                               <a href=""><i class="fa-brands fa-linkedin"></i></a>
                               <a href=""><i class="fa-brands fa-github"></i></a>
                               <a href=""><i class="fa-solid fa-envelope"></i></a>
                           </div>
                           
                        </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                   <div class="card-img">

                   <img src="/images/harsh.png">
                   </div>
                       <div class="container">
                           <h2>Harsh</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           
                           <div class="about_container_links">
                               <a href=""><i class="fa-brands fa-linkedin"></i></a>
                               <a href=""><i class="fa-brands fa-github"></i></a>
                               <a href=""><i class="fa-solid fa-envelope"></i></a>
                           </div>
                           
                        </div>
                </div>
            </div>
            
            <div class="column">
                <div class="card">

                   <div class="card-img">

                   <img src="/images/abhi.png">
                   </div>
                       <div class="container">
                           <h2>Abhirup</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           
                           <div class="about_container_links">
                               <a href=""><i class="fa-brands fa-linkedin"></i></a>
                               <a href=""><i class="fa-brands fa-github"></i></a>
                               <a href=""><i class="fa-solid fa-envelope"></i></a>
                           </div>
                           
                        </div>
                </div>
            </div>

            <div class="column">
               <div class="card">
                   <div class="card-img">

                   <img src="/images/Paresh_.png">
                   </div>
                       <div class="container">
                           <h2>Paresh</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           
                           <div class="about_container_links">
                               <a href=""><i class="fa-brands fa-linkedin"></i></a>
                               <a href=""><i class="fa-brands fa-github"></i></a>
                               <a href=""><i class="fa-solid fa-envelope"></i></a>
                           </div>
                           
                        </div>
                </div>
            </div>

            <div class="column">
               <div class="card">
                   <div class="card-img">

                   <img src="/images/sonali.jpg">
                   </div>
                       <div class="container">
                           <h2>Sonali</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           
                           <div class="about_container_links">
                               <a href=""><i class="fa-brands fa-linkedin"></i></a>
                               <a href=""><i class="fa-brands fa-github"></i></a>
                               <a href=""><i class="fa-solid fa-envelope"></i></a>
                           </div>
                        </div>
                </div>
            </div>

            <div class="column">
               <div class="card">
                   <div class="card-img">

                   <img src="/images/anuj.jpg">
                   </div>
                       <div class="container">
                           <h2>Anuj</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           <div class="about_container_links">
                               <a href=""><i class="fa-brands fa-linkedin"></i></a>
                               <a href=""><i class="fa-brands fa-github"></i></a>
                               <a href=""><i class="fa-solid fa-envelope"></i></a>
                           </div>
                           
                        </div>
                </div>
            </div>

        </div>

        <h2>Our Mentors</h2>

        <div class="mentors-row">
           <div class="column">
               <div class="card">
                   <div class="card-img">
                        <img src="/images/sanjaysinghthakur.png">
                   </div>
                       <div class="container">
                           <h2>Dr.Sanjay S Thakur</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           
                           <div class="about_container_links">
                               <a href=""><i class="fa-brands fa-linkedin"></i></a>
                               <a href=""><i class="fa-brands fa-github"></i></a>
                               <a href=""><i class="fa-solid fa-envelope"></i></a>
                           </div>
                        </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="card-img">
                        <img src="/images/amitnerulkar.png">
                    </div>
                       <div class="container">
                           <h2>Prof.Amit Nerurkar</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           
                           <div class="about_container_links">
                               <a href=""><i class="fa-brands fa-linkedin"></i></a>
                               <a href=""><i class="fa-brands fa-github"></i></a>
                               <a href=""><i class="fa-solid fa-envelope"></i></a>
                           </div>
                        </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </body>


</html>