<!doctype html>
<html>
	<head>
        {{>headers}}
		<title>About Us</title>
		<link rel="stylesheet" type="text/css" href="/about.css"/>	
	</head>
    
    <body>
        {{>navbar}}
    	<div class="about-section">
    		<div class="about-heading">
               <h1>About Us</h1>
            </div>
            <div class="about-para">
           <p>Smart India Hackathon - Team AeroFleet</p>
           <p>Aerofleet is a smart system which tackle the problem faced by drivers exposed to highly polluted area by monitoring their health parameters through our smart watch Aeroband and purifying the cabin using Aeropure which works on three mode and saves power. Real time data is available to fleet manager also the data is analyzed to aid fleet manager in future decision making. Mic and Speaker are installed in the system for direct voice communication with fleet manager in case of emergency.</p></div>
        </div>

        <h2 style="text-align:center">Our Team</h2>

        <div class="row">
           <div class="column">
               <div class="card">
                   <img src="/w3images/team1.jpg" alt="Utkarsh" style="width:100%">
                       <div class="container">
                           <h2>Utkarsh</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           <p>mail@gmail.com</p>
                           <p><button class="button">Contact</button></p>
                        </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                   <img src="/w3images/team2.jpg" alt="Harsh" style="width:100%">
                       <div class="container">
                           <h2>Harsh</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           <p>mail@gmail.com</p>
                           <p><button class="button">Contact</button></p>
                        </div>
                </div>
            </div>
            
            <div class="column">
                <div class="card">
                   <img src="/w3images/team3.jpg" alt="Abhirup" style="width:100%">
                       <div class="container">
                           <h2>Abhirup</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           <p>mail@gmail.com</p>
                           <p><button class="button">Contact</button></p>
                        </div>
                </div>
            </div>

            <div class="column">
               <div class="card">
                   <img src="/w3images/team1.jpg" alt="Paresh" style="width:100%">
                       <div class="container">
                           <h2>Paresh</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           <p>mail@gmail.com</p>
                           <p><button class="button">Contact</button></p>
                        </div>
                </div>
            </div>

            <div class="column">
               <div class="card">
                   <img src="/w3images/team1.jpg" alt="Sonali" style="width:100%">
                       <div class="container">
                           <h2>Sonali</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           <p>mail@gmail.com</p>
                           <p><button class="button">Contact</button></p>
                        </div>
                </div>
            </div>

            <div class="column">
               <div class="card">
                   <img src="/w3images/team1.jpg" alt="Anuj" style="width:100%">
                       <div class="container">
                           <h2>Anuj</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           <p>mail@gmail.com</p>
                           <p><button class="button">Contact</button></p>
                        </div>
                </div>
            </div>

        </div>

        <h2 style="text-align:center">Our Mentors</h2>

        <div class="row">
           <div class="column">
               <div class="card">
                   <img src="/w3images/team1.jpg" alt="HOD Sir" style="width:100%">
                       <div class="container">
                           <h2>HOD Sir</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           <p>mail@gmail.com</p>
                           <p><button class="button">Contact</button></p>
                        </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                   <img src="/w3images/team2.jpg" alt="Amit Sir" style="width:100%">
                       <div class="container">
                           <h2>Amit Sir</h2>
                           <p>Vidyalankar Institute of Technology, Mumbai.</p>
                           <p>mail@gmail.com</p>
                           <p><button class="button">Contact</button></p>
                        </div>
                </div>
            </div>
        </div>
    </body>


</html>