<!DOCTYPE html>
<html lang="en">

<head>
        {{>headers}}
        <title>Logged out</title>
</head>

<body>
        {{>navbar}}
        <h3>You have logged out!</h3>
        <a href="/">Go back to home</a>
</body>

</html>