<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
    <link rel="stylesheet" href="/home.css">
    <title>Driver Plot</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">


      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['%', 'Value'],
          ['Heart_Rate', 80],
          ['C', 55],
          ['PPM', 68]

        ]);

        var options = {
          width: 500, height: 150,
          redFrom: 50, redTo: 90,
          yellowFrom:90, yellowTo: 95,
          greenFrom: 95, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 1000);
        setInterval(function() {
          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 1000);
        setInterval(function() {
          data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
          chart.draw(data, options);
        }, 1000);
      }



    var lat=19.021427;
    var lng=72.872116 ;
    var myCenter=new google.maps.LatLng(lat,lng);

    function initialize()
    {
    var mapProp = {
      center:myCenter,
      zoom:5,
      mapTypeId:google.maps.MapTypeId.ROADMAP
      };

    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

    var marker=new google.maps.Marker({
      position:myCenter,
      });

    marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>
        {{>userNavbar userName=userName}}
        <div id="chart_div" style="width: 100vw; height: 100vh;margin:auto"></div>
        <div id="googleMap" style="width:500px;height:380px;"></div>
</body>
</html>