<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
    <link rel="stylesheet" href="/home.css">
    <title>Driver Plot</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
        {{>userNavbar userName=userName}}
        <div class="driver-health-gauge-container">
          <div id="heartRateGauge"></div>
          <div id="oxygenRateGauge"></div>
          <div id="temperatureRateGauge"></div>
        </div>
        <div class="driver-graph-container">
          <div id="dustGraph"></div>
          <div id="gasAGraph"></div>
          <div id="gasBgraph"></div>
        </div>
</body>
<script type="text/javascript">
      function randomGen(min,max) {
                let difference = max - min;
                let rand = Math.random();
                rand = Math.floor( rand * difference);
                rand = rand + min;
                return rand;
        }

      google.charts.load('current', {'packages':['gauge','corechart']});
      google.charts.setOnLoadCallback(heartRate);
      google.charts.setOnLoadCallback(temperatureRate);
      google.charts.setOnLoadCallback(oxygenRate);

              // Heart Rate Gauge
      function heartRate(){
        var data = google.visualization.arrayToDataTable([['%','Value'],['BPM',88]])
        var options = {
          max:180,min:0,
          width: 300, height: 300,
          greenFrom: 45, greenTo: 110,
          yellowFrom:110, yellowTo: 140,
          redFrom: 140, redTo: 180,
          minorTicks: 36,
          animation:{
            duration: 440,
            easing: 'inAndOut',
          },
          
        }
        var chart = new google.visualization.Gauge(document.getElementById('heartRateGauge'));
        setInterval(function() {
          data.setValue(0, 1, randomGen(60,100));
          chart.draw(data, options);
        }, 1000);
      }

                    // SpO2 Gauge
      function oxygenRate(){
        var data = google.visualization.arrayToDataTable([['%','Value'],['O2 %',98]])
        var options = {
          max:100,min:0,
          width: 300, height: 300,
          greenFrom: 90, greenTo: 100,
          yellowFrom:75, yellowTo: 90,
          redFrom: 50, redTo: 80,
          minorTicks: 25,
          animation:{
            duration: 440,
            easing: 'inAndOut',
          },
        }
        var chart = new google.visualization.Gauge(document.getElementById('oxygenRateGauge'));
        setInterval(function() {
          data.setValue(0, 1, randomGen(90,100));
          chart.draw(data, options);
        }, 1000);
      }

              // Temperature Gauge
      function temperatureRate(){
        var data = google.visualization.arrayToDataTable([['%','Value'],['°C',36]])
        var options = {
          max:60,min:20,
          width: 300, height: 300,
          greenFrom: 35, greenTo: 38,
          yellowFrom:38, yellowTo:40 ,
          redFrom: 40, redTo: 45,
          minorTicks: 10,
          animation:{
            duration: 440,
            easing: 'inAndOut',
          },
        }
        var chart = new google.visualization.Gauge(document.getElementById('temperatureRateGauge'));
        setInterval(function() {
          data.setValue(0, 1, randomGen(35,40));
          chart.draw(data, options);
        }, 1000);
      }

      function dustGraph(){
        
      }

    </script>
    
</html>