<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
    <!--link rel="stylesheet" href="/home.css"-->
    <link rel="stylesheet" href="/driverHealth.css">
    <title>Driver Plot</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script src="http://maps.googleapis.com/maps/api/js"></script>
</head>

<body>
        {{>userNavbar userName=userName}}
        <div class="driver-health-main-container">


        <div class="driver-health-header">
          <h3>TRUCK NUMBER</h3>
          <div class="driver-health-number"><p><i class="fa-solid fa-truck-moving"></i> MH-01-AA-2000</p></div>          
        </div>

        <div class="driver-health-main-1">
          <h2>DRIVER HEALTH <i class="fa-solid fa-hand-holding-medical"></i></h2>
          <div class="driver-health-gauge-container">
            <div id="heartRateGauge"></div>
            <div id="oxygenRateGauge"></div>
            <div id="temperatureRateGauge"></div>
          </div>
        </div>
        <h2>AIR QUALITY <i class="fa-solid fa-wind"></i></h2>
        <div class="driver-graph-container">
          <div class="driver-graph-1">
            <iframe  
              src="https://thingspeak.com/channels/1658813/charts/5?bgcolor=%23ffffea&color=%230081CF&dynamic=true&results=60&type=line&update=15%22%3E">
            </iframe>
          </div>

          <div class="driver-graph-2">
            <iframe  
              src="https://thingspeak.com/channels/1658813/charts/6?bgcolor=%23ffffea&color=%230081CF&dynamic=true&results=60&type=line&update=15%22%3E">
            </iframe>
          </div>

          <div class="driver-graph-3">
            <iframe  
              src="https://thingspeak.com/channels/1658813/charts/7?bgcolor=%23ffffea&color=%230081CF&dynamic=true&results=60&type=line&update=15%22%3E">
            </iframe>
          </div>
          <div class="driver-graph-4">
            <iframe  
              src="https://thingspeak.com/channels/1658813/charts/1?bgcolor=%23ffffea&color=%230081CF&dynamic=true&results=60&type=line&update=15%22%3E">
            </iframe>
          </div>
          <div class="driver-graph-5">
            <iframe  
              src="https://thingspeak.com/channels/1658813/charts/2?bgcolor=%23ffffea&color=%230081CF&dynamic=true&results=60&type=line&update=15%22%3E">
            </iframe>
          </div>
          <div class="driver-graph-6">
            <iframe  
              src="https://thingspeak.com/channels/1658813/charts/3?bgcolor=%23ffffea&color=%230081CF&dynamic=true&results=60&type=line&update=15%22%3E">
            </iframe>
          </div>

        </div>
        <h2>LIVE LOCATION <i class="fa-solid fa-location-dot"></i></h2>
        <div id="driver-health-map">
          <div id="googleMap"></div>
        </div>
        </div>
        {{>footer}}
        </body>
<script type="text/javascript">
      var temp;
      var hr;
      var oxy;
      var watch;
      var aqi;
      var cMono;
      var dust;
      

      function randomGen(min,max) {
                let difference = max - min;
                let rand = Math.random();
                rand = Math.floor( rand * difference);
                rand = rand + min;
                return rand;
        }

      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(heartRate);
      google.charts.setOnLoadCallback(temperatureRate);
      google.charts.setOnLoadCallback(oxygenRate);

              // Heart Rate Gauge
      function heartRate(){
        var data = google.visualization.arrayToDataTable([['%','Value'],['BPM',0]])
        var options = {
          max:180,min:0,
          width: 250, height: 250,
          greenFrom: 45, greenTo: 110,
          yellowFrom:110, yellowTo: 140,
          redFrom: 140, redTo: 180,
          minorTicks: 36,
          animation:{
            duration: 440,
            easing: 'inAndOut',
          },
          
        }
        var chart = new google.visualization.Gauge(document.getElementById('heartRateGauge'));
        setInterval(function() {
          data.setValue(0, 1, randomGen(0,150));
          chart.draw(data, options);
        }, 1000);
      }

                    // SpO2 Gauge
      function oxygenRate(){
        var data = google.visualization.arrayToDataTable([['%','Value'],['O2 %',0]])
        var options = {
          max:100,min:0,
          width: 250, height: 250,
          greenFrom: 90, greenTo: 100,
          yellowFrom:75, yellowTo: 90,
          redFrom: 50, redTo: 80,
          minorTicks: 25,
          animation:{
            duration: 440,
            easing: 'inAndOut',
          },
        }
        var chart = new google.visualization.Gauge(document.getElementById('oxygenRateGauge'));
        setInterval(function() {
          data.setValue(0, 1, randomGen(0,100));
          chart.draw(data, options);
        }, 1000);
      }

              // Temperature Gauge
      function temperatureRate(){
        var data = google.visualization.arrayToDataTable([['%','Value'],['°C',20]])
        var options = {
          max:60,min:20,
          width: 250, height: 250,
          greenFrom: 35, greenTo: 38,
          yellowFrom:38, yellowTo:40 ,
          redFrom: 40, redTo: 45,
          minorTicks: 10,
          animation:{
            duration: 440,
            easing: 'inAndOut',
          },
        }
        var chart = new google.visualization.Gauge(document.getElementById('temperatureRateGauge'));
        setInterval(function() {
          data.setValue(0, 1, randomGen(20,40));
          chart.draw(data, options);
        }, 1000);
      }

      // Map 
    var lat=19.021528;
    var lng=72.871971;
    var myCenter=new google.maps.LatLng(lat,lng);

    function initialize()
    {
    var mapProp = {
      center:myCenter,
      zoom:8,
      mapTypeId:google.maps.MapTypeId.ROADMAP
      };

    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

    var marker=new google.maps.Marker({
      position:myCenter,
      });

    marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

   /*setInterval(()=>{

      fetch('https://api.thingspeak.com/channels/1658813/feeds.json?api_key=G9IWRDIX8Y4H6S06&results=2').then(res=>res.json()).then(x=>{
                        temp        = x.feeds[1].field1
                        hr          = x.feeds[1].field2
                        oxy         = x.feeds[1].field3
                        watch       = x.feeds[1].field4
                        location    = x.feeds[1].field6 
                        aqi         = x.feeds[1].field5 
                        cMono       = x.feeds[1].field7 
                        dust        = x.feeds[1].field8.split('_')
                        lat         = dust[0]
                        long        = dust[1]
                        
                })      
      },1000)*/

    </script>
    
</html>