<!DOCTYPE html>
<html lang="en">

<head>
        {{>headers}}
        <title>Document</title>
</head>

<body>
        {{>userNavbar}}
        Welcome Home your are logged in
        <div>Truck 1</div>
        <div>Truck 2</div>
        <div>Truck 3</div>
        <div>Truck 4</div>
        <div>Truck 5</div>
        <button class="btn btn-primary">add+</button>
</body>

</html>