<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
    <title>AeroFleet</title>
</head>
<body class="">
        {{>userNavbar userName=userName}}

        <section class="hero_desk">  
        <div class="hero_img_desk hide-for-mob ">
        <img src="images/bg.png" alt="hero_img">
        </div>
    <div class="hero_text_desk container_text ">
        <h1 class="animate">AEROFLEET</h1>
        <p class="animate"> Connect with University Students and Professionals with CareerCoach and get the right direction for a bright career</p>
    </div>
</section>
<!-- features -->
<section class="features container_all">
    <div class="feature_intro">
        <h2>Why we choose this problem statement</h2>
        <p>Connect with 50+ mentors over various fields and 100+ students from universities around the globe from the comfort of your home.</p>
    </div>
    <div class="feature_grid">
        <div class="feature_item">
            <div class="feature_icon">
                <img src="images/location.gif" alt="gps">
            </div>
            <div class="feature_title">
                title 
            </div>
            <div class="feature_desc">
                descrip
            </div>
        </div>
        <div class="feature_item">
            <div class="feature_icon">
                <img src="images/location.gif" alt="gps">
            </div>
            <div class="feature_title">
                title
            </div>
            <div class="feature_desc">
                descrip
            </div>
        </div>
        <div class="feature_item">
            <div class="feature_icon">
                <img src="images/location.gif" alt="gps">
            </div>
            <div class="feature_title">
                title 
            </div>
            <div class="feature_desc">
                descrip
            </div>
        </div>
    </div>
</section>
<!-- Testimonial -->
<section class="test container_all">
    <div class="test_intro">
        <h2>Our Mentors</h2>
        <p>Connect with 50+ mentors over various fields and 100+ students from universities around the globe from the comfort of your home.</p>
    </div>
    <div class="test_grid">
        <div class="test_item">
            <div class="client">
                <div class="test_icon">
                    <img src="images/l-purohit.png" alt="gps">
                </div>
                <div class="test_name">
                    Sanjay Thakur
                </div>
            </div>
            <div class="test_desc">
                This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (He is the chief executive officer at Sporcle. He is best known as an early employee and key technical contributor at the original Napster. Aydar bought Fanning his first book on programming in C++, the language he would use two years later to build the Napster file-sharing software.
                Alan Turing (23 June 1912 – 7 June 1954) was a Britishd 
            </div>
            
            </div>
            <div class="test_item">
                <div class="client container_all">
                    <div class="test_icon">
                        <img src="images/l-purohit.png" alt="gps">
                    </div>
                    <div class="test_name">
                        Amit Nerulkar
                    </div>
                </div>
                <div class="test_desc">
                    This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (He is the chief executive officer at Sporcle. He is best known as an early employee and key technical contributor at the original Napster. Aydar bought Fanning his first book on programming in C++, the language he would use two years later to build the Napster file-sharing software.
                    Alan Turing (23 June 1912 – 7 June 1954) was a Britishd 
                </div>
                
                </div>
    </div>
</section>
<Footer class="footer">
<a class="footer_logo"href="/">
    <img src="images/aero.png" alt="">
</a>

<div class="footer_links_col1">
    <a href="/home">Data</a>
    <a href="/admin">Admin</a>
</div>
<div class="footer_links_col2">
    <a href="/about">About</a>
    <a href="/logout">Logout</a>
</div>
<div class="footer_cta ">
<div class="footer_button button">Smart India Hackathon</div>
 <div class="footer_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, molestiae?</div>
</div>

</Footer>
 <script src="app/js/script.js"></script>   
</body>
</html>